{% extends "base.html" %}

{% block title %} DERSLER {% endblock %}

{% block content %}
<div class="container-fluid mt-3">
  <div class="row">
  
    <!-- Sol Kategori Menüsü -->
    <div class="col-3 sidebar">
      <div class="list-group">
        {% for category in categories %}
          <a href="{% url 'blogs_by_category' category.slug %}"
             class="list-group-item list-group-item-action {% if category.slug == selected_category %}active{% endif %}">
            {{ category.name|title }}
          </a>
        {% endfor %}
      </div>
    </div>

    <!-- Sağ Blog İçeriği -->
    <div class="col-9">
      <h1>
        {% if selected_category %}
          {{ selected_category.name|title }}
        {% else %}
          DERSLER
        {% endif %}
      </h1>
      <hr />
      {% if blogs %}
        {% for blog in blogs %}
          {% if blog.is_active %}
            {% include 'blog/partials/_blog.html' %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="alert alert-warning">DERS BULUNAMADI</div>
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}
