option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: blogapp/wsgi.py

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: blogapp.settings
    PYTHONPATH: /var/app/current
    SECRET_KEY: 'django-insecure-_z1mh$duegv8sq#n9metrwk=b=85s0#%1@^g)n&9j=13houq7='
    DEBUG: 'False'
    ALLOWED_HOSTS: '.elasticbeanstalk.com'

container_commands:
  01_migrate:
    command: "python3 manage.py migrate --noinput"
  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
